*{
    padding: 0;
    margin: 0;
}
.titleContainer{
display: flex;
align-items: center;
padding: 10px;
}
.topContainer{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.userStyle{
    padding: 0 10px;
    margin: 0 10px;
    color: rgb(120, 160, 140);
    font-weight: 600;
    background-color: rgb(240, 250, 245);
}
.descriptionStyle{
    margin: 0 10px;
    color: gray;
}
.btnDownload{
    padding: 7px 12px;
    background-color: white;
    border-color: gray;
    border-width: 0.5px;
    border-radius: 5px;
    cursor: pointer;
}
.btnAddUser{
    padding: 7px 12px;
    border-color: gray;
    border-width: 0.5px;
    border-radius: 5px;
    margin: 0 10px;
    background-color: rgb(87, 134, 234);
    color: white;
    border: none;
    cursor: pointer;
}
.btnContainer{
 margin-left: 30%;
}
.titleAlign{
    display: flex;
  
}
.downArrowContainer{
    display: flex;
    align-items: flex-end;
    color: gray;
    font-weight: 400;
}
.checkbox{
    margin: 0 5px;
}
.nameContainer{
    display: flex;
    align-items: center;
}

  .tableTitleContainer{
    display: flex;
    /* justify-content: space-evenly; */
    text-align: left;
color: gray;
  }
  .listContainer{
    display: flex;
    /* justify-content: space-evenly; */
    text-align: left;
    align-items: center;
    padding: 20px 5px;
    /* background-color: gray; */
  }
  .editDelContainer{
    display: flex;
    align-items: center;
  }
.rowStyle{
  min-width: 300px;
  max-width: auto;
}
.mainTableContainer{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.grayColor{
  color: gray;
}
.activeStatus{
  color: rgb(120, 160, 140);
    font-weight: 600;
   
}
.mainContainer{
  margin: 1% 14%;
  
}
.editIcon, .deleteIcon{
  cursor: pointer;
  background: none;
  border: none;
 font-size: 18px;
}
.errContainer{
  display: flex;
  justify-content: center;
  height: 200px;
  align-items: center;
}
.modalStyle{
 min-height: 20%;
 max-width: auto;
 max-height: auto;
 min-width: 30%;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
padding: 10px 20px;
top:20%;
left: 35%;
background-color: white;
border-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.formContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
input{
  margin: 3px;
  width: 200px;
  padding: 5px;
}


/* CSS */
.btnSubmit {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.btnSubmit:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}
.btnPrev,.btnNext{
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  margin: 10px;
}
.btnNext{
  margin-left: 75%;
}


